# Build results
[Bb]in/
[Oo]bj/

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
